<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>FastAPI Web Starter</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li class="dropdown">
            <a href="#"class="dropdown-toggle" id="dropdownMenuButton1"  data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu" id="dropdownMenuButton1">
                <li>
                    <a href="/page/about" class="dropdown-item">About</a>
                </li>
                <li>
                    <a href="/page/info"class="dropdown-item">Information</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/page/portfolio">Portfolio</a>
        </li>
        <li>
            <a href="/page/contact">Contact</a>
        </li>
    </ul>
</nav>