<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item {{'active' if active_page == 'unsplash' }}">
                    <a class="nav-link" href="/unsplash">Unsplash</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'twoforms' }}">
                    <a class="nav-link" href="/twoforms">Two forms</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'accordion' }}">
                    <a class="nav-link" href="/accordion">Accordion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>