body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
    color:#000;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
