{% extends "base.html" %}
{% set active_page = "twoforms" %}

{% block title %}Two Forms{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap">Two Forms</h1>
{% if message %}
{{ message }}
{% endif %}
{% if yournum %}
<h2>Your number is {{yournum}} and the result is {{result}}.</h2>
{% endif %}
<h3>Form 1: Add 2</h3>
<form action="/form1" method="post">
    <input type="number" name="number" value="" required />
    <input type="submit">
</form>

<h3>Form 2: Add 100</h3>
<form action="/form2" method="post">
    <input type="number" name="number" value="" required />
    <input type="submit">
</form>



{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}